@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ImageSlider.css */

.image-slider-container {
    @apply flex items-center justify-between w-80 mx-auto;
  }
  
  .slider-image {
    @apply max-w-full h-auto;
  }
  
  .btn {
    @apply bg-blue-500 text-white px-4 py-2 rounded;
  }
  